# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

matrix:
  include:
    - osx_image: xcode13.4
      env: DESTINATION="iPad Pro (9.7-inch) (15.5)" SWIFT_VERSION="5.0"
      
    - osx_image: xcode13.4
      env: DESTINATION="iPhone 13 Pro Max (15.0)" SWIFT_VERSION="5.0"
      
    - osx_image: xcode13.4
      env: DESTINATION="iPhone 8 (14.5)" SWIFT_VERSION="5.0"
      
    - osx_image: xcode13.1
      env: DESTINATION="iPhone 12 mini (15.0)" SWIFT_VERSION="4.0"
      
    - osx_image: xcode13.1
      env: DESTINATION="iPhone 8 Plus (14.5)" SWIFT_VERSION="4.0"
      
    - osx_image: xcode13.1
      env: DESTINATION="iPhone 8 (14.0)" SWIFT_VERSION="4.0"

language: objective-c
cache: cocoapods
podfile: Example/Podfile

before_install:
 - gem install cocoapods # Since Travis is not always on latest version
 # - gem update xcodeproj # https://github.com/CocoaPods/CocoaPods/issues/7835
 - pod install --repo-update --project-directory=Example
 # Grepping destination device udid
 - DESTINATION_UDID=$(instruments -s devices | grep "$DESTINATION \[" | sed -E 's/.*\[([0-9A-F-]+)\].*/\1/g')

script:
 - set -o pipefail && xcodebuild test
 `` -enableCodeCoverage YES
 `` -workspace Example/CollectionViewCenteredFlowLayout.xcworkspace
 `` -scheme Example
 `` -sdk iphonesimulator
 `` -destination "id=$DESTINATION_UDID"
 `` ONLY_ACTIVE_ARCH=NO
 `` | xcpretty
 - pod lib lint --swift-version=$SWIFT_VERSION
